*.pdf
*.aux
*.bbl
*.blg
*.log
*.toc
*.url
*.synctex.gz
*.swp

# Kompilierte Dateien aus den jura und jurabib Paketen
README
alphanum.sty
book.bib
changes.txt
comment.bib
dajbbib.ldf
dejbbib.ldf
docs/
dujbbib.ldf
enjbbib.ldf
fijbbib.ldf
frjbbib.ldf
itjbbib.ldf
jblong.cfg
jbtest.bib
jbtest.tex
jbtestbt.tex
jbtestbu.tex
jbtestcb.tex
jbtestcb1.tex
jbtestcb2.tex
jbtesthu.bib
jbtesthu.tex
jbtestmb.tex
jox.bst
jura.cls
jura.dtx
jura.ins
jura.zip
jura2html
jurabib.bst
jurabib.cfg
jurabib.dtx
jurabib.ins
jurabib.sty
jurabib.zip
juratest.ltx
jureco.bst
jurunsrt.bst
nojbbib.ldf
ptjbbib.ldf
spjbbib.ldf
